{% extends "layout.html" %}

{% block content %}

<p>
	This is a simple demonstration project of <a href="http://karlgrz.com">Karl Grzeszczak</a> to work with <a href="http://flask.pocoo.org/">flask</a>, <a href="http://www.zeromq.org/">zeromq</a>, and the <a href="http://echonest.github.com/remix/">remix api</a> by <a href="http://the.echonest.com/">echo nest</a>. 
</p>

<p>
	My requirements were to get the web client running on <a href="http://dreamhost.com/">Dreamhost</a> shared hosting account and the remote service running on an <a href="http://aws.amazon.com/">Amazon EC2</a> Free tier account.
</p>

<p>
	I have no affiliation to any of these products or companies, I just wanted to build something to experiment with all this cool technology!
</p>

{% endblock %}
