html,
body {
  height: 100%;  
}

.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}

p {
	margin: 20px 0 0;
}

.logo {
	padding: 20px 0;
}

#push,
#footer {
  height: 60px;
}

#footer {
  background-color: #f5f5f5;
}

.page-header {
	border-bottom: 0px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.hero-unit {
    padding: 60px;
    margin-bottom: 30px;
    background-color: #eee;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.hero-unit h1 {
    margin-bottom: 0;
    font-size: 60px;
    line-height: 1;
    color: inherit;
    letter-spacing: -1px;
}
.hero-unit p {
    font-size: 18px;
    font-weight: 200;
    line-height: 30px;
    color: inherit;
}
div.banner {
    border: 1px solid #AAA;
}

.mashstatusuploaded {
	color: red;
}

.mashstatusready {
	color: green;
}
