html,
body {
	height: 100%;
}

.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -60px;
}

p {
	margin: 20px 0 0;
}

.content {
	width: 450px;
	padding-top: 60px;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.logo {
	padding: 20px 0;
}

#push,
#footer {
	height: 60px;
}

#footer {
	background-color: #f5f5f5;
}

.page-header {
	border-bottom: 0px;
}

@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

div.banner {
    border: 1px solid #AAA;
}

.mashstatusuploaded {
	color: yellow;
}

.mashstatusready {
	color: green;
}

.mashstatusfailed {
	color: red;
}
