{% extends "layout.html" %}
{% block content %}
<p><a href="{{ url_for('uploads', key=mash.key, filename=mash.song1) }}">{{ mash.song1 }}</a> - <a href="{{ url_for('uploads', key=mash.key, filename=mash.song2) }}">{{ mash.song2 }}</a> </p>
<p>
	<a href="{{ url_for('uploads', key=mash.key, filename='output.mp3') }}">{{ mash.key }}</a>
</p>
<p>
	<div class="mashstatus{{ mash.status }}">
		Status: {{ mash.status }}
	</div>
</p>
<p>
	<a href ="{{ url_for('home') }}">New Mash</a>
</p>
{% endblock %}
